<!doctype html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>shurli - The URL Shortener</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <h1 class="header">
      API Basejump: URL Shortener
    </h1>
    <blockquote>
      User stories:
      <ul><li>I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.</ul>
      <ul><li>When I visit that shortened URL, it will redirect me to my original link.</ul>
    </blockquote>
    <h3>Example creation usage:</h3>
    <code><a href="<%= host %>/new/https://www.baidu.com"><%= host %>/new/https://www.baidu.com</a></code>
    <br>
    <code><a href="<%= host %>/new/http://www.dusuchao.xin"><%= host %>/new/http://www.dusuchao.xin</a></code>
    <br>If you want to pass a site that doesn't exist (or an invalid url) for some reason you can do:<br>
    <code><a href="<%= host %>/new/invalid?allow=true"><%= host %>/new/invalid?allow=true</a></code>
    <h3>Example creation output:</h3>
    <code>
      {
        "original_url": "http://dusuchao.xin",
        "short_url": "https://<%= host %>/0"
      }
    </code>
    <h3>Usage:</h3>
    <code><a href="<%= host %>/0"><%= host %>/0</a></code>
    <h3>Will redirect to:</h3>
    <code><a href="http://dusuchao.xin">http://dusuchao.xin</a></code>
  </div>
</body>

</html>